 /* HEADER */


.bg_gy{
    background-color: #2C3E50 ;
}

.font_header{
    font-size: 0.5rem;
}

.font_icon{
    font-size: 0.6rem;
}

.p_header_l{
        padding-left: 7px;
}

.p_header_r{
        padding-right: 7px;
}

.p_less{
    padding-bottom: -10px;
}


/* MAIN */

.bar{
height: 5px;
width: 10%;
}

.w_500{
    width: 500px;
}

.bg_am{
    background-color: #1ABC9C;
}

.star_comp{
    margin-top: -7px;
}

.jd_f{
    font-size: 0.4rem;
}

.border_c{
    border-radius: 2%;
        margin: 5px;
}

.text,.download{
    font-size: 0.5rem;
}

.hr_more{
    margin-top: 80px;
}
.icon_a{
        right: 0;
    transform: rotate(
45deg);
    top: -11px;
}

.m_5px{
    margin-top: 10px;
}

.text_left{
    text-align: left;
}

.p_button{
    padding: 0px 5px;
}

.c_gray{
    color: lightgray;
}

.logo_p{
    padding: 10px;
    height: 40px;
    width: 40px;
}

.ws_3{
    word-spacing: 3px;
}


.h_150px{
    width: 70px;
}

.p_75s{
    padding: 0 75px;
}

/* FOOTER */
.bg-bl{
    background-color: #3A546D;
}

.bg-bd{
    background-color: #2C3E50;
}

/* MEDIA QUERY */

@media screen and (min-width: 992px){

.lg_size{
    box-sizing: content-box;
    margin: 0 10px;
}

.max_width{
    width: 100%;
}

.m_right{
    margin-right: 0px;
}

.m_left{
    margin-left: 0px;
}

}



@media screen and (max-width: 576px){
.link_n_lg
{
    display: none;
}
}

@media screen and (min-width: 576px){
.link_n_lg
{
    display: inline;
}

.link_lg{
    display: none;
}

.p_n{
    padding: 0 35px;
}
}



@media screen and (min-width: 992px){
.p_75{
    padding: 0px 75px;
}
}

